/* NOTE: adding google font */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i');
/* NOTE: start of upper-header */

.upper-header {
  background: #f3f3f3;
  padding: 7px 0;
  line-height: 2;
}

.upper-header .telephone {
  padding: 0 8px 0 0;
  margin: 0 auto;
  line-height: 2;
  font-size: 13px;
}

.upper-header .telephone p {
  margin: 4px auto;
  line-height: 2;
  font-size: 12px;
}

.upper-header .telephone i {
  margin: 4px auto;
  line-height: 2;
  font-size: 12px;
  padding-right: 7px;
}

.upper-header .email {
  margin-top: 4px;
  line-height: 2;
  font-size: 13px;
  display: flex;
}

.upper-header .email i {
  margin-top: 5px;
  padding-right: 11px;
}

.upper-header .email a {
  text-decoration: none;
  line-height: 2;
  font-size: 13px;
  cursor: pointer;
  color: #7f7f7f;
}

.upper-bottom {
  MARGIN: 4PX AUTO 0;
}

.upper-bottom button {
  margin: 0 auto;
  text-align: center;
  background: #ff3450;
  color: #fff;
  font-weight: bold;
  padding: 5px 6px;
  font-size: 10px;
}

.upper-bottom button:hover {
  color: #fff;
  background: #2867de;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.upper-header .input-group {
  display: flex;
}

form.upper-search {
  max-width: 95%;
  height: 33px;
  border: 0;
  text-align: center;
  margin: 4px auto 0;
}

input.form-control {
  border: 0;
  height: 26px;
  width: 35%;
  margin: 0 auto;
  line-height: 1;
}

input.btn-search {
  background: #e7e7e7;
  border: 1px solid #e7e7e7;
  font-size: 12px;
  line-height: 2;
  padding: 1px 14px;
  font-weight: 400;
}

.upper-header #language {
  border: 0;
  background: inherit;
  font-size: 11px;
}

.upper-header-right {
  display: flex;
  margin-top: 4px;
}

.upper-header .dropdown {
  margin: 0 auto;
}

.upper-header .dropdown-menu {
  min-width: 12px;
  text-align: center;
  font-size: 11px;
  margin: 0 auto;
}

.upper-header .dropdown-menu>li>a:hover {
  color: #ff3450;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.upper-header #language i {
  padding: 0 4px;
}

.upper-header .currency-btn {
  border: 0;
  background: inherit;
  font-size: 11px;
}

.upper-header .currency-btn i {
  padding: 0 4px;
}

.upper-header .join {
  text-decoration: none;
  font-size: 11px;
  margin: 4px auto;
}

.upper-header .join a {
  color: #ff3450;
  cursor: pointer;
}

.upper-header .join a:hover {
  color: #7f7f7f;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.upper-header .join i {
  padding: 0 4px;
  color: #7f7f7f;
}

.upper-header .upper-social {
  margin: 0 auto;
}

.upper-social a {
  font-size: 1.2em;
  padding: 0px 5px;
}

.upper-social .facebook i {
  color: #3b5998;
}

.upper-social .twitter i {
  color: #55acee;
}

.upper-social .pinterest i {
  color: #cb2027;
}

.upper-soci .google-plus i {
  color: #dd4b39;
}

/* NOTE: start of main-menu */

.main-menu {
  background-color: #fff;
  padding: 18px 0 0;
  margin: 0 auto;
}

.main-menu .logo a img {
  max-width: 230px;
}

ul.nav.navbar-nav a {
  line-height: 2em;
  padding: 24px 18px;
  font-size: 15px;
  color: inherit;
}

ul.nav.navbar-nav li a:hover {
  color: #ff3450;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.dropdown-menu>li>a {
  padding: 10px 20px !important;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: inherit !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: inherit !important;
    border-color: none;
}

.main-menu .cart i {
  display: block;
  text-align: center;
  line-height: 3em;
  font-size: 1.4em;
  margin-bottom: -18px;
  color: #2867de;
}

.main-menu .amount {
  display: block;
  text-align: center;
  line-height: 1em;
  font-size: 15px;
  background: #ff3450;
  border-radius: 1px;
  color: #fff;
  margin-top: -7px;
  padding: 5px 1px;
  max-width: 46%;
  margin: 0 auto;
}

/* NOTE: start of slider */

.slider {
overflow: hidden;
}

.slider .item {
    position: relative;
    overflow: hidden;
    height: 495px;
}

#owl-demo .item img {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slider .item .content{
  margin-top: 20vh;
  text-align: left;
  color: #fff;
  z-index: 2;
}
.slider .item .content h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 3em;
    margin: 0 0 11px;
    line-height: 1.2;
}

.slider .item .content p {
    color: #fff;
    margin-bottom: 50px;
    opacity: 0.8;
    line-height: 1.8;
}

.btn-slider {
    background: #FF3450;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
}
.btn-slider:hover {
    background: #3872e0;
    color: #fff;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 6px;
    left: 50%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 8px 7px;
    background: #ff3450;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
}

/* NOTE: start of facts */
.facts {
    background-position: center center;
    background-image: url(../images/fun-fact.jpg);
    background-size: cover;
    position: relative;
}

.facts .facts-col {
    overflow: hidden;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}

.facts .overlay {
    background: rgba(255, 52, 80, 0.8);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.fact-icon {
    color: #ffffff;
    float: left;
    font-size: 45px;
    padding: 0 15px 0 5px;
    position: relative;
}

.facts .fact-desc {
    display: inline-block;
}

.facts .fact-details {
    float: left;
}

.facts .fact-count {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    position: relative;
}

.facts .fact-info {
    color: #fff;
    margin-top: 5px;
    position: relative;
}

.facts-col:nth-child(even) .overlay {
    background: rgba(40, 103, 219, 0.6);
}

/* NOTE: Main css style */

body {
  font-size: normal;
  line-height: 15px;
  overflow-x: hidden;
  color: #7f7f7f;
  background: #fff;
  margin: 0 auto;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 5000px;
}

.uppercase {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

span.icon-bar {
  background: #ff3450;
}

/* NOTE: loader section */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ccc;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff3450;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #2867DE;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.3s 1s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}



/* custom responive fix */

@media (max-width:992px) {
  .logo {
      margin: 0 auto;
      text-align: center;
      margin: 14px;
  }
  .main-menu {
    position: inherit !important;
}
.navbar-header {
    background: #7f7f7f;
}
#owl-demo .item img {
    display: block;
    height: 100%;
    width: 100%;
}
.slider .item .content {
    margin-top: 20vh;
    text-align: center;
    z-index: 2;
}
}
